<div class="form_container">

    <div>
        <div> email = {{form.email}}</div>
        <div> password = {{form.password}}</div>
    </div>
    <form name="form" 
        #f="ngForm"
        (ngSubmit)="f.form.valid && onsubmit()"
    >
        <div class="group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email"
             [(ngModel)]="form.email" #email="ngModel" required >
             <div class="form_error" *ngIf="email.errors && f.submitted">
                email required
            </div>
        </div>
        <div class="group">
            <label for="password">Passwoed</label>
            <input type="password" name="password" id="password"
             [(ngModel)]="form.password" #password="ngModel"
             required minlength="5">
             <div class="form_error" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">  pass require  </div> 
                <div *ngIf="password.errors.minlength">  5 caractere min  </div>          
                
            </div>
        </div>
        <div class="groupe">
            <button>Login</button>
        </div>
    </form>
</div>